# Python Basic

## Variables

In [1]:
a = 1

In [3]:
b = 'abc'

In [4]:
c = 3.14

In [5]:
d = False

In [7]:
e = None

In [9]:
type(a)

int

In [10]:
type(b),type(c),type(d),type(e)

(str, float, bool, NoneType)

## Keywords

### Reserved set of words which are native to Python and cannot be used elsewhere within Python code.  For instance, we cannot use these as variable names within a Python program. 

##### List of Keywords

##### ['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [13]:
None = 1

SyntaxError: can't assign to keyword (<ipython-input-13-48142bc569f9>, line 1)

## Expression

In [14]:
data1 = 10

In [15]:
data2 = 20

In [16]:
sum = data1+data2

In [17]:
sum

30

In [18]:
data1 = 30

In [20]:
sum = data1+data2

In [21]:
sum

50

In [22]:
data3, data4 = 1,2

In [23]:
result = ((data1+data2)*(data3-data4))/2

In [24]:
result

-25.0

## Control Stucture

```
if condition:
    do1
elif condition:
    do2
else:
    default
```

In [30]:
a = 1
if a == 1:
    print('a is one')
    print('this is extra line when a is one')
elif a == 2:
    print('a is two')
else:
    print('a is neither one not two')

a is one
this is extra line when a is one

## Conditional Operators

#### Conditional Operators: ==, != , >, >=, <, <=, and, or, not

In [35]:
a = 2
b = 3
if a>1 and b==3:
    print('a is one and b is 3')
else:
    print('a might not be one or b might not be 3')

a is one and b is 3

### Ternary operator

In [37]:
a = 2
is_odd = False if a%2 == 0 else True
a, is_odd

(2, False)

## Important Native Data Structure

1. List
2. Dictionary

In [38]:
l1 = list()
l2 = []

l3 = [1,2,3,4,5]
l4 = [1,'abc',3.14,False]

l1,l2,l3,l4

([], [], [1, 2, 3, 4, 5], [1, 'abc', 3.14, False])

In [41]:
d1 = dict()
d2 = {}

d3 = {'a':1,'b':2}
d4 = dict({'a':1,'b':l4})

d1,d2,d3,d4

({}, {}, {'a': 1, 'b': 2}, {'a': 1, 'b': [1, 'abc', 3.14, False]})

In [42]:
d4['b']

[1, 'abc', 3.14, False]

In [57]:
a = {}
a['ID'] = [1, 2, 3, 4, 5, 6]
a['Name'] = ["Cat", "Fish", "Dog", "Aardvark", "Wallaby", "Zebra"] 
a['Year'] = [1998, 1998, 1999, 2000, 2000, 2001] 
a['Priority'] = [1, 2, 1, 1, 1, 3] 

a

{'ID': [1, 2, 3, 4, 5, 6],
 'Name': ['Cat', 'Fish', 'Dog', 'Aardvark', 'Wallaby', 'Zebra'],
 'Priority': [1, 2, 1, 1, 1, 3],
 'Year': [1998, 1998, 1999, 2000, 2000, 2001]}

## Loops

In [49]:
for x in l3:
    if x%2 == 0:
        print(str(x)+' is even')
    else:
        print(str(x)+' is odd')
else:
    print('Loop completed')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
Loop completed

In [52]:
for x in a:
    print(x,a[x])

ID [1, 2, 3, 4, 5, 6]
Name ['Cat', 'Fish', 'Dog', 'Aardvark', 'Wallaby', 'Zebra']
Year [1998, 1998, 1999, 2000, 2000, 2001]
Priority [1, 2, 1, 1, 1, 3]

In [58]:
for x,b in a.items():
    print(x,b)

ID [1, 2, 3, 4, 5, 6]
Name ['Cat', 'Fish', 'Dog', 'Aardvark', 'Wallaby', 'Zebra']
Year [1998, 1998, 1999, 2000, 2000, 2001]
Priority [1, 2, 1, 1, 1, 3]

## Function

##### unit of code

In [68]:
def func1(a,b=4):
    return a**b

In [69]:
func1(3)

81

In [70]:
func1(3,3)

27

## Packages and Libraries

In [71]:
from math import pow

In [72]:
pow(3,3)

27.0

## Class

In [77]:
class car:
    def __init__(self, name, engine_cc, num_wheels, seats):
        self.name = name
        self.engine_cc = engine_cc
        self.num_wheels = num_wheels
        self.seats = seats
    
    def is_suv(self):
        return self.name + ' is a suv' if self.seats > 5 else self.name + ' is not a suv'

    def is_sports_model(self):
        return self.name + ' is a sports model' if self.engine_cc > 4000 else self.name + ' is not a sports model'
    
car1 = car('Toyota Innova', 2800, 4, 7)
car2 = car('Ferrari V12', 4499, 4, 2)

print(car1.is_suv())
print(car1.is_sports_model())
print(car2.is_suv())
print(car2.is_sports_model())

Toyota Innova is a suv
Toyota Innova is not a sports model
Ferrari V12 is not a suv
Ferrari V12 is a sports model