# Python Basics Introduction

## Variables & Datatypes

In [1]:
a = 1

In [2]:
b = 'abc'

In [3]:
c = 3.14

In [4]:
d = True

In [5]:
e = None

In [6]:
type(a)

int

In [7]:
type(b), type(c), type(d), type(e)

(str, float, bool, NoneType)

## Keywords

### Reserved set of words which are native to Python and cannot be used elsewhere within Python code.  For instance, we cannot use these as variable names within a Python program.

##### List of Keywords

##### ['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
None = 1

SyntaxError: can't assign to keyword (<ipython-input-8-d03f602a0186>, line 1)

## Expresssions

In [9]:
a, b = 1,2

In [10]:
a,b

(1, 2)

In [11]:
c = a + b
c

3

In [12]:
d = c * b
d

6

In [13]:
e = ((d * c) + (a - b)) / b
e

8.5

In [14]:
c % b

1

In [15]:
c ** b

9

## Control structures

### General Syntax:

```
if condition:
    do1
elif condition 2:
    do2
else:
    do_default
```

In [16]:
a = 1
if a == 1:
    print('a is 1')
elif a == 2:
    print('a is 2')
else:
    print ('a is neither 1 nor 2')

a is 1

In [17]:
a = 2
if a == 1:
    print('a is 1')
elif a == 2:
    print('a is 2')
else:
    print ('a is neither 1 nor 2')

a is 2

In [18]:
a = 3
if a == 1:
    print('a is 1')
elif a == 2:
    print('a is 2')
else:
    print ('a is neither 1 nor 2')

a is neither 1 nor 2

#### Conditional Operators: ==, != , >, >=, <, <=, and, or, not

In [19]:
if a == 3 and b ==2:
    print('condition satisfied')

condition satisfied

In [44]:
is_odd = False if a%2 == 0 else True
a, is_odd

(3, True)

## Important native Data Structures

In [20]:
l1 = list()
l2 = []

l3 = [1,2,3,4]
l4 = ['a', 1, 1.2, False]

l1, l2, l3, l4

([], [], [1, 2, 3, 4], ['a', 1, 1.2, False])

In [21]:
l1.append(5)
l1

[5]

In [22]:
d1 = dict()
d2 = {}
d3 = {'a': 1, 'b' : 2}
d4 = dict({'key' : l3})

d1, d2, d3, d4

({}, {}, {'a': 1, 'b': 2}, {'key': [1, 2, 3, 4]})

#### Thought process : Model an tablular data using list and dictionaries

## Loops

In [24]:
for x in l3:
    if x % 2 == 0:
        print(x + ' is even')
    else:
        print(str(x) + ' is odd')

1 is odd

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
for x in l3:
    if x % 2 == 0:
        print(str(x) + ' is even')
    else:
        print(str(x) + ' is odd')
else:
    print('Loop completed')

1 is odd
2 is even
3 is odd
4 is even
Loop completed

In [26]:
for key in d3:
    print(key, d3[key])

a 1
b 2

In [27]:
for key, value in d3.items():
    print(key, value)

a 1
b 2

## Functions

In [28]:
def func1(a):
    return a **2

In [29]:
func1(25)

625

In [30]:
def func2(a, b):
    return a ** b

In [31]:
func2(2, 3)

8

In [32]:
def func3(a, b=2):
    return a ** b

In [33]:
func3(3, 3)

27

In [34]:
def func4(ip1=1, ip2=2, ip3=3):
    return ip1 * ip2 * ip3

In [35]:
func4()

6

In [36]:
func4(5,2)

30

In [37]:
func4(5, ip3=10)

100

In [38]:
func4(ip2=5, ip3=10)

50

## Packages & Libraries

In [39]:
from math import pow

In [40]:
pow(2,4)

16.0

### Classes

In [48]:
class Car:
    def __init__(self, name, engine_cc, num_wheels, seats):
        self.name = name
        self.engine_cc = engine_cc
        self.num_wheels = num_wheels
        self.seats = seats
       
    def is_suv(self):
        return self.name + ' is SUV' if self.seats > 5 else self.name + ' is not SUV'
    
    def is_sports_model(self):
        return self.name + ' is a Sports Model' if self.engine_cc > 4000 else self.name + ' is not Sports Model'
    
car1 = Car('Toyota Innova', 2800, 4, 7)
car2 = Car('Ferrari V12', 4499, 4, 2)

print(car1.is_suv())
print(car1.is_sports_model())
print(car2.is_suv())
print(car2.is_sports_model())

Toyota Innova is SUV
Toyota Innova is not Sports Model
Ferrari V12 is not SUV
Ferrari V12 is a Sports Model